*{
    padding: 0%;
    margin: 0% ;
}
body
{
    background: linear-gradient(90deg,#2980B9,#8E44ad);

}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    background: whitesmoke;
    border-radius: 10px;
}

.center h1
{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}

.center form
{
    padding: 0 40px;
    box-sizing: border-box;

}

form .txt_field
{
    position: relative;
    border-bottom: 2px #4e4a4a;
    margin: 30px 0;
}

.txt_field input
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    background: none;
    outline: none;
}

.txt_field label
{
    position: absolute;
    background-color: whitesmoke;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before
{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition:.5s;

}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label
{
    top: -4px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before
{
    width: 100%;

}

.pass
{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover
{
    text-decoration: underline;

}

input[type="submit"]
{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4Fb;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover
{
    border-color: #2691d9;
    transition: .5s;
}

.sig
{
    margin: 30px 0;
    text-align: center;
    font-size: 18px;
    color: #666666;
}

.sig a
{
    color: #2691d9;
    text-decoration: none; 
}

.sig a:hover
{
    text-decoration: underline;

}

